body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  /*font-size: 3vmin;*/
}

.hidden {
  display: none;
}

/** Buttons **/
.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Now Playing **/
#js-main-container{
  position: relative;
  margin-bottom: 100px;
}
.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.now-playing__artist {
  margin-bottom: 1em;
}

.now-playing__status {
  margin-bottom: 1em;
}

.now-playing__img {
  margin: 100px auto;
  width: 45%;
  border-radius: 100%;
  border: 10px solid #ecad46;
}

.now-playing__side {
  text-align: center;
  width: 45%;
  margin: auto;
}

/** Progress **/
.progress {
  border: 0.15em solid #eee;
  height: 1em;
}

.progress__bar {
  background-color: #eee;
  border: 0.1em solid transparent;
  height: 0.75em;
}

/** Background **/
.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
  background-repeat: no-repeat;
}

.main-wrapper {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 90%;
  z-index: 1;
}

.container {
  align-items: center;
  justify-content: center;
  height: 100%;
}

/** Playlist **/
table{
  width: 100%;
  border-spacing: 0px;
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
}
th{
  border-bottom: 2px solid #DDD;
}
td,th{
  padding: 35px;
  vertical-align: top;
}

tr.active{
  color: #ecad46;
}


/** Animation **/
@keyframes eq-uppydowny {
  0% {
    //height: 20px;
    transform: scaleY(1);
  }
  50% {
    //height: 3px;
    transform: scaleY(.5);
  }
  100% {
    //height: 20px;
    transform: scaleY(1);
  }
}

.eq__bar {
  display: none;
  position: absolute;
  bottom: 0px;
  fill: #ecad46;
  animation-name: eq-uppydowny;
  animation-fill: forwards;
  animation-iteration-count: infinite;
  transform-origin: 8px 16px;
  -webkit-transform-origin: 8px 16px;
  rx:3;
  ry:3;
}

#eq1 {
  animation-duration: 0.5s;
}

#eq2 {
  animation-duration: 1.3s;
}

#eq3 {
  animation-duration: 0.7s;
}

tr.active .eq__bar{
  display: block;
}
